# Dependency directories
node_modules/

# Environment configuration
.env

# Build output
distribution/

# Logs
*.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Miscellaneous
.DS_Store
Thumbs.db
